<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "groupMapper">
    
    <resultMap type = "com.mokkoji.app.group.Group" id="group_type">
        <result column="gn" property="gn"/>
        <result column="gname" property="gname"/>
        <result column="masterPn" property="masterPn"/> 
    </resultMap>
    <select id="getGroupList" resultMap="group_type" parameterType="List">
		SELECT
			gn, gname, masterPn
		FROM
			grouptype
	</select>
	
	<select id="getGroupFromgn" resultMap="group_type" parameterType="Integer">
		SELECT
			gn, gname, masterPn
		FROM
			grouptype
		WHERE
			gn = #{value}
	</select>
	
	<select id="getGroupFromgname" resultMap="group_type" parameterType="String">
		SELECT
			gn, gname, masterPn
		FROM
			grouptype
		WHERE
			gname = #{value}
	</select>
	
	<select id="getGroupFrommasterPn" resultMap="group_type" parameterType="Integer">
		SELECT
			gn, gname, masterPn
		FROM
			grouptype
		WHERE
			masterPn = #{value}
	</select>
	
	<insert id="insertGroup" parameterType="com.mokkoji.app.group.Group">
		INSERT
		INTO
			grouptype
			( gname, masterPn)
		VALUES
			(
				#{gname}, #{masterPn}
			)
	</insert>
	
	<delete id="deleteGroup" parameterType="Integer">
		DELETE
		FROM grouptype
		WHERE
			gn = #{value}
	</delete>
	
	<update id="updateGroup" parameterType="com.mokkoji.app.group.Group">
		UPDATE
			grouptype
		SET
			gname = #{gname},
			masterPn = #{materPn}
		WHERE
			gn = #{gn}
	</update>
  
</mapper>